@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body {
  background-color: #080e20;
  color: white;
  font-family: 'Rubik', sans-serif;
}

a {
  /* style hyperlinks */
  color: white;
  text-shadow: white 0px 0px 10px;
}
