a {
  color: orange;
  text-decoration-thickness: 1px;
}

body {
  background-color: #0a0f1e;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
}

li {
  font-size: 1.25em;
}

p {
  font-size: 1.25em;
}

span {
  color: yellow;
}
