@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body {
  background-color: #0a0f1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

div {
  margin: 16px;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

ul {
  font-size: 22px;
}

p {
  font-size: min(32px);
  text-align: justify;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: white 0px 0px 10px;
}

svg path {
  fill: none;
  stroke: white;
  transition: 0.8s;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

foreignObject {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s;
}

.letter {
  pointer-events: bounding-box;
}

.letter:hover path.tim_0 {
  d: path("M 0 0 m 0 0 h 109 m 0 0 h 109 m 0 0 h 109 m -109 0 h 109 m 0 0 l 109 0 h 110 m -109 0 h 109 m 0 0 l 109 0 m 0 0 h 545 M 1200 0 m 0 0 v 125 m 0 0 v 375 m 0 -375 v 125 m 0 0 v 250 m 0 -250 v 250 m 0 -250 v 125 m 0 0 v 125 M 0 500 m 0 0 h 109 m 0 0 h 218 m -109 0 h 109 m 0 0 l 109 0 h 110 m -110 0 h 110 m 0 0 l 109 0 m 0 0 h 109 m 0 0 h 109 m 0 0 h 109 m 0 0 h 109 m 0 0 h 109 M 0 0 m 0 0 v 125 m 0 0 v 125 m 0 -125 v 375 m 0 -250 v 250 m 0 -250 v 250 m 0 -250 v 250");
}

.letter:hover foreignObject {
  visibility: visible;
  opacity: 1;
}

.letter:hover path.o_0 {
  d: path("M 1200 100 h 400 v 400 h -400 v -400 m 400 0 l 0 400 l -400 0 l 0 -400 l 400 0");
}

.letter:hover path.t_1 {
  d: path("M 1725 0 h 150 m 125 0 v 125 m -125 -125 h 125 m 0 125 v 125 l 0 125 m 0 -125 v 125 m 0 -125 l 0 125 v 125 h -275 m -125 0 v -250 m 125 250 h -125 m 0 -250 v -125 m 0 -125 h 125 m -125 125 v -125");
}

.letter:hover path.h_0 {
  d: path("M 2000 0 h 125 m 275 0 v 125 m -275 -125 h 275 m 0 125 v 375 h -125 l -150 0 m 150 0 h -150 m 150 0 l -150 0 h -125 v -500");
}

.letter:hover path.y_0 {
  d: path("M 2400 100 h 80 l 80 0 h 80 l 80 0 h 80 v 500 h -400 v -100 l 0 -100 v -100 l 0 -100 v -100");
}

.letter:hover path.c_0 {
  d: path("M 900 600 h 400 v 80 l 0 80 v 80 l 0 80 v 80 h -400 v -400");
}

.letter:hover path.h_1 {
  d: path("M 1300 500 h 125 m 275 0 v 125 m -275 -125 h 275 m 0 125 v 375 h -125 l -150 0 m 150 0 h -150 m 150 0 l -150 0 h -125 v -500");
}

.letter:hover path.o_1 {
  d: path("M 1700 600 h 400 v 400 h -400 v -400 m 400 0 l 0 400 l -400 0 l 0 -400 l 400 0");
}

.letter:hover path.i_1 {
  d: path("M 2100 500 h 200 v 125 m -200 125 l 0 -125 v -125 m 200 125 l 0 125 v 250 h -200 v -250");
}

rect {
  fill: none;
  stroke: red;
}